<h1>Animals</h1>
<ul>
  <% if @animals.length > 1 %>
    <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name, animal_path(animal) %> is a <%= animal.species %> who is <%= animal.age %> year(s) old.
        <%= link_to "Edit", edit_animal_path(animal) %>
        <%= link_to "Delete", animal_path(animal), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  <% else %>
    <p>No animals in list</p>
  <% end %>
</ul>