<h3><%= @animal.name %></h3>
<p> Species: <%= @animal.species %> </p>
<p> Age: <%= @animal.age %></p>
<%= link_to "Edit", edit_animal_path(@animal.id) %>
<%= link_to "Delete", animal_path(@animal.id), method: :delete, data: {confirm: "Are you sure?"} %>